.select.dark .selected.small{
    background-color: #2b3247 !important;
}
.select.dark .item.small{
    background-color: #2b3247 !important;
}
.select.dark .dropdown.down {
    background-color: #2b3247 !important;
}
#tradeChartDropDown{
    background-color: #2E364B;
}
 .border{
      border: 1px solid #181D2E !important;  
} 