.myborderright{
    border-right:  0px solid #181D2E !important
} 

.app .grid{
    border: 0px solid #181D2E !important;
}
.app .title{
    border: 5px solid #181D2E !important
}
.border-right{
    border-right: 1px solid #181D2E !important
}